---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const metaDesc = "Portfolio website of Brady Kelly, Software engineer."
const metaTitle = "Brady Kelly, Software Engineer"
---

<meta charset="utf-8"/>
<title>{metaTitle}</title>
<link rel="icon" href=""/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="generator" content={Astro.generator}/>
<meta
        name="title"
        content={metaTitle}
/>
<meta
        name="description"
        content={metaDesc}
/>
<meta
        property="og:title"
        content={metaTitle}
/>
<meta
        property="og:description"
        content={metaDesc}
/>
<meta
        name="twitter:title"
        content={metaTitle}
/>
<meta
        name="twitter:description"
        content={metaDesc}
/>
<meta name="twitter:card" content="summary_large_image"/>
<meta property="og:url" content=""/>
<meta property="og:type" content="website"/>
<link rel="canonical" href={canonicalURL}/>
<link
        as="font"
        rel="preload"
        href="https://fonts.cmsfly.com/css?family=Open+Sans:400,500,600|Raleway:400,500&display=swap"
/>
<link
        rel="stylesheet"
        href="https://fonts.cmsfly.com/css?family=Open+Sans:400,500,600|Raleway:400,500&display=swap"
/>

